@model TemplatesExplainProject.ExampleModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Boolean</p>
@Html.DisplayFor(p=>Model.Enabled)
@Html.EditorFor(p=>Model.Enabled)
<br /><br />
<p>Currency</p>
@Html.DisplayFor(p => Model.Currency)
@Html.EditorFor(p => Model.Currency)
<br /><br />
<p>Email</p>
@Html.DisplayFor(p => Model.Email)
@Html.EditorFor(p => Model.Email)
<br /><br />
<p>Url</p>
@Html.DisplayFor(p => Model.Url)
@Html.EditorFor(p => Model.Url)
<br /><br />
<p>Html</p>
@Html.DisplayFor(p => Model.Html)
@Html.EditorFor(p => Model.Html)
<br /><br />
<p>Password</p>
@Html.DisplayFor(p => Model.Password)
@Html.EditorFor(p => Model.Password)
<br /><br />
<p>Time</p>
@Html.DisplayFor(p => Model.Time)
@Html.EditorFor(p => Model.Time)
<br /><br />
<p>ImageUrl</p>
@Html.DisplayFor(p => Model.ImageUrl)
@Html.EditorFor(p => Model.ImageUrl)
<br /><br />
<p>ImageUrl2</p>
@Html.DisplayFor(p => Model.ImageUrl2)
@Html.EditorFor(p => Model.ImageUrl2)
<br /><br />
<p>ImageUrl3</p>
@Html.DisplayFor(p => Model.ImageUrl3)
@Html.EditorFor(p => Model.ImageUrl3)
<br /><br />